.container {
    width:100%;
    max-width: 300px;
    margin: 0 auto;
    border:1px solid #d3d3d3;
}
.container div {
    width: auto;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: block;
    padding : 5px;
}
